.phone {
    &__item {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        max-width: 199px;
        width: 100%;
        color: $color-white;
        text-decoration: none;
        display: inline-block;
        border: 3px solid $color-white;
        border-radius: 21px;
        padding: 8px 16px;
        transition: all .3s linear;

        &:hover, &:focus {
            color: $color-dark;
            background-color: $color-white;
        }

        &:active {
            opacity: 0.8;
        }
    }
}