.section {
    padding: 110px 0;
    @include media-max($bp-xs) {
        padding: 90px 0;
    }

    &__header {
        margin-bottom: 90px;
        @include media-max($bp-xs) {
            margin-bottom: 70px;
        }
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: 900;
        text-align: center;
        margin: 0 auto 40px;

        &--accent {
            color: $color-accent;
        }

        @include media-max($bp-xs) {
            font-size: 36px;
        }
    }
}

