.section {
    padding: 110px 0;
    @include media-max($bp-xs) {
        padding: 90px 0;
    }

    &__header {
        margin-bottom: 90px;
        @include media-max($bp-xs) {
            margin-bottom: 70px;
        }
    }
}

