@import "fonts";
@import "vars";
@import "mixins";

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.375;
    color: $color-dark;
}

img {
    max-width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }

@import 'components/container.scss';
@import 'components/btn.scss';
@import 'components/phone.scss';
@import 'components/burger-menu.scss';
@import 'components/page-title.scss';
@import 'components/section.scss';
@import 'components/socials.scss';
@import 'components/btn-close.scss';
@import 'components/popup.scss';
@import 'components/mobile-menu.scss';
@import 'components/order.scss';
@import 'components/form.scss';


@import 'modules/header-page.scss';
@import 'modules/section-top.scss';
@import 'modules/section-catalog.scss';
@import 'modules/section.about.scss';
@import 'modules/section-contacts.scss';
@import 'modules/footer-page.scss';

